<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>할 일 목록</title>
</head>
<body>
        <table>
            <tr>
                <th>이름<th><th>나이</th><th>할일</th>

            </tr>th:each="todo : ${todos}"
                <td th:text = "${todo.username}"></td>
                <td th:text = "${user.age}"></td>
                <td th:text = "${user.todo}"></td>



            <tr>
                <a th:href = "@{/todo.html}">등록하기</a>





        </table>

</body>
</html>